@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --duke-blue: #012169;
  --duke-gold: #FFC72C;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #1a1a1a;
  background: #ffffff;
  font-feature-settings: "kern" 1;
  text-rendering: optimizeLegibility;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

