@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --duke-blue: #012169;
  --duke-gold: #FFC72C;
}

body {
  color: #1a1a1a;
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

